<div class="row rounded">
  <div class="col-sm-6">
    <div class="card shadow-lg m-2 rounded">
      <img src="assets/img/logo-serratec.png" class="img-overlay img-fluid">
      <span class="card-header h4 text-center text-dark">
        Cadastro Empresas
      </span>
      <div class="card-body border-dark">
        <form>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputRazaoSocial" title="Razão social">Empresa</label>
              <input type="text" class="form-control shadow border-bottom-1" id="inputRazaoSocial" placeholder="Razão social">
            </div>
            <div class="form-group col-md-6">
              <label for="inputCnpj">CNPJ</label>
              <input type="text" class="form-control shadow" id="inputCnpj" placeholder="CNPJ">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputNomeFantasia">Nome Fantasia</label>
              <input type="text" class="form-control shadow" id="inputNomeFantasia" placeholder="Nome Fantasia">
            </div>
            <div class="form-group col-md-6">
              <label for="inputEmail">Endereço Completo</label>
              <input type="text" class="form-control shadow" id="inputEmail" placeholder="Endereço">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputTelefone">Telefone</label>
              <input type="text" class="form-control shadow" id="inputTelefone" placeholder="Telefone">
            </div>
            <div class="form-group col-md-6">
              <label for="inputEmail">E-mail</label>
              <input type="text" class="form-control shadow" id="inputEmail" placeholder="E-mail">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputSite">Site</label>
              <input type="text" class="form-control shadow" id="inputSite" placeholder="Email">
            </div>
            <div class="form-group col-md-6">
              <label for="inputAtividades">Atividades desenvolvidas</label>
              <input type="text" class="form-control shadow" id="inputAtividades" placeholder="Ramo da Empresa">
            </div>
          </div>
          <!-- Segunda Categoria -->
          <!-- Selecionar logomarca -->
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputAtividades">Anexar Logomarca</label>
              <div class="custom-file shadow">
                <input type="file" class="custom-file-input" id="customFile">
                <label class="custom-file-label" aria-label="Anexar" for="customFile">Escolher arquivo</label>
              </div>
            </div>
            <!-- Faturamento Anual -->
            <div class="form-group col-md-6">
              <label for="inputFaturamento">Faturamento Anual</label>
              <select class="form-control shadow" id="inputFaturamento" value="Faturamento Anal">
                <option selected>Faturamento Anual</option>
                <option><a class="dropdown-item" href="#">de R$ 81 mil a R$ 360 mil</a></option>
                <option><a class="dropdown-item" href="#">de R$ 361 mil a R$ 4,8 milhões</a></option>
                <option><a class="dropdown-item" href="#">Sem Faturamento</a></option>
              </select>
            </div>
          </div>
        </form>
      </div>
    </div>
    <!--Fim do card-->
  </div>

  <div class="col-sm-6">
    <div class="card shadow-lg m-2 rounded">
      <img src="assets/img/logo-serratec-over.png" class="img-overlay img-fluid">
        <span class="card-header h4 text-center text-dark">
          Responsável
        </span>
      <div class="card-body border-dark">
        <form>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputResponsavelNome" title="Nome Completo">Nome</label>
              <input type="text" class="form-control shadow" id="inputResponsavelNome" placeholder="Nome completo">
            </div>
            <div class="form-group col-md-6">
              <label for="inputTelefone">Telefone</label>
              <input type="text" class="form-control shadow" id="inputTelefone" placeholder="Telefone">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputEmail">E-mail</label>
              <input type="text" class="form-control shadow" id="inputEmail" placeholder="E-mail">
            </div>
            <div class="form-group col-md-6">
              <label for="inputFuncaoResponsavel">Funçaõ na empresa</label>
              <input type="text" class="form-control shadow" id="inputFuncaoResponsavel" placeholder="Funçaõ exercida">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputColaboradores">Numero de Colaboradores</label>
              <input type="text" class="form-control shadow" id="inputColaboradores" placeholder="Quantos colaboradores">
            </div>
            <div class="form-group col-md-6">
              <label for="inputAtividades">Sua empresa já é assossiada a algum Sindicato? <br>
                Se sim, qual ou quais?</label>
              <input type="text" class="form-control shadow" id="inputAtividades" placeholder="Ramo da Empresa">
            </div>
          </div>
          <div class="form-row">

          </div>
          <!-- Segunda Categoria -->
          <!-- Selecionar logomarca -->
          <div class="form-row">
            <div class="form-group col-md-6">
            
            </div>
            <!-- Faturamento Anual -->
            <div class="form-group col-md-6">
             
            </div>
          </div>
        </form>
      </div>
    </div>
    <!--Fim do card-->
  </div>
</div>
<br>
<!-- fim dos cards -->