<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100 p-l-30 p-r-30 p-t-20 py-13">
      <form class="login100-form validate-form flex-sb flex-w" action="" method="POST">
        <span class="login100-form-title py-10 text-light">
          Cadastro Serratec Clientes
        </span>
        <div class="container mx-0">
          <div class="row">
            <!-- Classes cadastro -->
            <div class="col-6 mb-3">
              <div class="py-1">
                <span class="txt1">
                  Razão Social
                </span>
              </div>
              <div class="wrap-input100 validate-input" data-validate="Username is required">
                <input id="razaoSocial" class="input100" type="text" name="razaoSocial">
                <span class="focus-input100"></span>
              </div>

            </div>
            <!--fg-->
            <!-- Segunda Categoria -->


            <div class="col-6 mb-3">
              <div class="py-1">
                <span class="txt1">
                  CNPJ
                </span>
              </div>
              <div class="wrap-input100 validate-input" data-validate="Username is required">
                <input id="cnpj" class="input100" type="text" name="cnpj">
                <span class="focus-input100"></span>
              </div>

            </div>
            

            <div class="col-6 mb-3">
              <div class="py-1">
                <span class="txt1">
                    Nome de Fantasia
                </span>
              </div>
              <div class="wrap-input100 validate-input" data-validate="Username is required">
                <input id="nomeFantasia" class="input100" type="text" name="nomeFantasia">
                <span class="focus-input100"></span>
              </div>

            </div>
            <!-- Segunda Categoria -->


            <div class="col-6 mb-3">
              <div class="py-1">
                <span class="txt1">
                    Site
                </span>
              </div>
              <div class="wrap-input100 validate-input" data-validate="Username is required">
                <input id="enderecoSite" class="input100" type="text" name="enderecoSite">
                <span class="focus-input100"></span>
              </div>

            </div>
            <!-- Segunda Categoria -->


            <div class="col-6 mb-3">
              <div class="py-1">
                <span class="txt1">
                    Atividades Desenvolvidas
                </span>
              </div>
              <div class="wrap-input100 validate-input" data-validate="Username is required">
                <input id="ativDesenvolvidas" class="input100" type="text" name="ativDesenvolvidas">
                <span class="focus-input100"></span>
              </div>

            </div>
            <!-- Segunda Categoria -->


            <div class="col-6 mb-3">
              <div class="py-1">
                <span class="txt1">
                    E-Mail Pessoa jurídica
                </span>
              </div>
              <div class="wrap-input100 validate-input" data-validate="Username is required">
                <input id="EmailPessoaJuridica" class="input100" type="text" name="EmailPessoaJuridica">
                <span class="focus-input100"></span>
              </div>
            </div>

            <!-- Segunda Categoria -->
            <div class="col-6">
                <div class="py-1"><span class="txt1">
                    <label for="exampleFormControlSelect1">Faturamento Anual</label>
                        <div class="form-group">
                        <div class="wrap-input100">
                        <select class="form-control-lg input100" id="exampleFormControlSelect1" value="Faturamento Anal">
                          <option><a class="dropdown-item" href="#">de R$ 81 mil a R$ 360 mil</a></option>
                          <option><a class="dropdown-item" href="#">de R$ 361 mil a R$ 4,8 milhões</a></option>
                          <option><a class="dropdown-item" href="#">Sem Faturamento</a></option>
                        </select>
                      </div>
                      </div>
                </span></div>
              </div>
<!-- Selecionar logomarca -->
              <div class="col-6 mb-3">
                <div class="py-1">
                 
                  <div class="form-group">
                      <span class="txt1">Anexar Logomarca:</span>
                      <div class="wra-input100">
                      <label for="exampleFormControlFile1 input100 form-control-lg login100-form-btn">
                      </label>
                      <input type="file" class="form-control-file" id="exampleFormControlFile1">
                    </div>
                  </div>
                </div>
              </div>
  <!-- Segunda Categoria -->


  <div class="col-6 mb-3">
      <div class="py-1">
        <span class="txt1">
            Telefone
        </span>
      </div>
      <div class="wrap-input100 validate-input" data-validate="Username is required">
        <input id="inputTelefone" class="input100" type="text" name="inputTelefone">
        <span class="focus-input100"></span>
      </div>
    </div>

      <!-- Segunda Categoria -->


      <div class="col-6 mb-3">
          <div class="py-1">
            <span class="txt1">
                E-Mail Pessoa jurídica
            </span>
          </div>
          <div class="wrap-input100 validate-input" data-validate="Username is required">
            <input id="EmailPessoaJuridica" class="input100" type="text" name="EmailPessoaJuridica">
            <span class="focus-input100"></span>
          </div>
        </div>

          <!-- Segunda Categoria -->


          <div class="col-6 mb-3">
              <div class="py-1">
                <span class="txt1">
                    E-Mail Pessoa jurídica
                </span>
              </div>
              <div class="wrap-input100 validate-input" data-validate="Username is required">
                <input id="EmailPessoaJuridica" class="input100" type="text" name="EmailPessoaJuridica">
                <span class="focus-input100"></span>
              </div>
            </div>
  <!-- Segunda Categoria -->


  <div class="col-6 mb-3">
      <div class="py-1">
        <span class="txt1">
            E-Mail Pessoa jurídica
        </span>
      </div>
      <div class="wrap-input100 validate-input" data-validate="Username is required">
        <input id="EmailPessoaJuridica" class="input100" type="text" name="EmailPessoaJuridica">
        <span class="focus-input100"></span>
      </div>
    </div>


          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- 
<div class="text-center limiter container-login100">

  <form class="form-signin">
  <h1 class="h3 mb-3 font-weight-normal">Cadastre-se</h1>
  <div class="row">
      <div class="col-6 mb-3">
        <div class="py-1">
          <span class="txt1">Razão Social</span>
        </div>
        <div class="wrap-input100 validate-input" data-validate="Username is required">
            <input id="razaoSocial" class="input100" type="text" name="razaoSocial">
            <span class="focus-input100"></span>
        </div>
      </div>
    </div>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
  <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
</form></div> -->